DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME='Your postgres username'
DB_PASSWORD='Your postgres password'
DB_DATABASE=AssetTrackr

NODE_ENV=developement
TEST_DB_DATABASE=Test_AssetTrackr